langchain
python-dotenv
ipykernel
langchain_community
arxiv
langchain-text-splitters
langchain-openai
langchain_community
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-openai
beautifulsoup4
streamlit
langchain_groq
langchain_core